[submodule "vendor/emacs-rails"]
	path = vendor/emacs-rails
	url = https://github.com/remvee/emacs-rails.git
[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "vendor/Enhanced-Ruby-Mode"]
	path = vendor/Enhanced-Ruby-Mode
	url = git://github.com/jacott/Enhanced-Ruby-Mode.git
